accelerate==0.31.0
bitsandbytes==0.43.1
colored==2.2.4
datasets==3.0.1
gensim==4.3.3
huggingface_hub==0.24.6
imblearn==0.0
matplotlib==3.9.2
nlpaug==1.1.11
numpy==2.1.2
pandas==2.2.3
peft==0.11.1
psutil==6.0.0
pyarrow==15.0.1
scikit_learn==1.5.2
seaborn==0.13.2
spacy==3.7.6
tensorboard==2.17.1
tensorflow==2.17.0
tensorflow_intel==2.17.0
torch==2.4.1
tqdm==4.66.1
transformers==4.45.1
trl==0.11.1
wordcloud==1.9.3